#bg {
    width: 500px;
    height: 500px;
    /* background-color: blue;
    background-image: url(computerGraphics.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    background: url(computerGraphics.jpg) no-repeat left buttom yellow;
}